body, #kvapp, .main-panel {
    width: 100%;
    height: 100%;
}

.tmdb-menu-bar {
    padding: 4px;
}

.nav-link {
    cursor: pointer;
    font-size: 20pt;
}

.navbar.bg-dark {
    border: none;
}

.navbar-nav {
    margin-top: auto;
    /* TODO: Fix the logo so the emblem and
     *   text align logically with nav buttons,
     *   making the padding unnecessary.
     */
    margin-bottom: 2px;
}

.navbar-brand img {
    height: 65px;
}

video {
    background-color: black;
}
