<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="org.jdbi.sql" level="INFO"/>
    <logger name="info.movito.themoviedbapi" level="INFO"/>
    <logger name="com.github.kokorin.jaffree" level="ERROR"/>
    <logger name="kjob" level="ERROR"/>
</configuration>
