@import "_custom.scss";

.bg-dark-translucent {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-primary {
  @extend .btn-primary;
  color: white;
  &:hover {
    color: darken(white, 10%);
  }
  &:focus {
    color: darken(white, 10%);
  }
}

.media-kind-link {
  color: white;
  text-decoration: none;
  &:hover {
    background-color: transparentize(white, 0.9);
  }
  &:focus {
    background-color: transparentize(white, 0.9);
  }
}

.media-kind-link.active {
  color: $primary;
}

body {
  overflow: hidden;
}

html, body, #root, #main-panel {
  width: 100%;
  height: 100%;
}

#main-panel {
  background-image: url('../images/noise.webp');
  background-repeat: repeat;
}

:root {
  scrollbar-color: #403f3e transparent;
}

.nav-link-large {
  cursor: pointer;
  font-size: 16pt;
}

.nav-link-small {
  cursor: pointer;
  font-size: 14pt;
}

.navbar.bg-dark {
  border: none;
}

.navbar-brand img {
  height: 46px;
}

video {
  background-color: black;
}

.animate-popup {
  animation-duration: 0.15s;
  animation-name: animate-popup-transition;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.8, 1, 1, 1);
}

@keyframes animate-popup-transition {
  0% {
    opacity: 0.1;
    margin-top: -10px;
    scale: 0.90;
  }
  100% {
    opacity: 1;
    margin-top: 0;
    scale: 1;
  }
}
