html, body, #root, #main-panel {
    width: 100%;
    height: 100%;
    background-color: #44494f;
    color: white;
}

:root {
  scrollbar-color: #403f3e transparent;
}

.tmdb-menu-bar {
    padding: 4px;
}

.nav-link {
    cursor: pointer;
    font-size: 20pt;
}

.navbar.bg-dark {
    border: none;
}

.navbar-nav {
    margin-top: auto;
}

.navbar-brand img {
    height: 50px;
}

video {
    background-color: black;
}
