name: Code Quality

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: code-quality-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  file-changes:
    runs-on: ubuntu-latest
    outputs:
      android: ${{ steps.android.outputs.any_changed }}
      client-core: ${{ steps.client-core.outputs.any_changed }}
      client-ui: ${{ steps.client-ui.outputs.any_changed }}
      data-models: ${{ steps.data-models.outputs.any_changed }}
      ios: ${{ steps.ios.outputs.any_changed }}
      web: ${{ steps.web.outputs.any_changed }}
      server: ${{ steps.server.outputs.any_changed }}
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          submodules: 'recursive'
          fetch-depth: 0
      - name: Get changed files
        id: android
        uses: tj-actions/changed-files@7d5bbf4e8d5c63a42c94e1c1bff2394247117e96
        with:
          files: |
            **/client/android/**/*.kt
            **/client/android/**/*.kts
      - name: Get changed files
        id: client-core
        uses: tj-actions/changed-files@7d5bbf4e8d5c63a42c94e1c1bff2394247117e96
        with:
          files: |
            **/client/core/**/*.kt
            **/client/core/**/*.kts
      - name: Get changed files
        id: data-models
        uses: tj-actions/changed-files@7d5bbf4e8d5c63a42c94e1c1bff2394247117e96
        with:
          files: |
            **/client/data-models/**/*.kt
            **/client/data-models/**/*.kts
      - name: Get changed files
        id: client-ui
        uses: tj-actions/changed-files@7d5bbf4e8d5c63a42c94e1c1bff2394247117e96
        with:
          files: |
            **/client/ui/**/*.kt
            **/client/ui/**/*.kts
      - name: Get changed files
        id: server
        uses: tj-actions/changed-files@7d5bbf4e8d5c63a42c94e1c1bff2394247117e96
        with:
          files: |
            **/server/**/*.kt
            **/server/**/*.kts
      - name: Get changed files
        id: ios
        uses: tj-actions/changed-files@7d5bbf4e8d5c63a42c94e1c1bff2394247117e96
        with:
          files: |
            **/client/ios/**
      - name: Get changed files
        id: web
        uses: tj-actions/changed-files@7d5bbf4e8d5c63a42c94e1c1bff2394247117e96
        with:
          files: |
            **/client/web/**/*.kt
            **/client/web/**/*.kts

  client-ui:
    runs-on: ubuntu-latest
    needs: [ file-changes ]
    if: needs.file-changes.outputs.client-ui == 'true' || github.ref_name == 'main'
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          submodules: 'recursive'

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@576fcbecfed70890e466eeffd7c78d93b30b0472

      - name: Cache Build files
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v2

      - name: Spotless Check
        run: ./gradlew -p client/ui spotlessCheck

  client-android:
    runs-on: ubuntu-latest
    needs: [ file-changes ]
    if: needs.file-changes.outputs.android == 'true' || github.ref_name == 'main'
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          submodules: 'recursive'

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@576fcbecfed70890e466eeffd7c78d93b30b0472

      - name: Cache Build files
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v2

      - name: Spotless Check
        run: ./gradlew -p client/android spotlessCheck

  client-core:
    runs-on: ubuntu-latest
    needs: [ file-changes ]
    if: needs.file-changes.outputs.client-core == 'true' || github.ref_name == 'main'
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          submodules: 'recursive'

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@576fcbecfed70890e466eeffd7c78d93b30b0472

      - name: Cache Build files
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v2

      - name: Spotless Check
        run: ./gradlew -p client/core spotlessCheck

  client-web:
    runs-on: ubuntu-latest
    needs: [ file-changes ]
    if: needs.file-changes.outputs.web == 'true' || github.ref_name == 'main'
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          submodules: 'recursive'

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@576fcbecfed70890e466eeffd7c78d93b30b0472

      - name: Cache Build files
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v2

      - name: Spotless Check
        run: ./gradlew -p client/web spotlessCheck

  data-models:
    runs-on: ubuntu-latest
    needs: [ file-changes ]
    if: needs.file-changes.outputs.data-models == 'true' || github.ref_name == 'main'
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          submodules: 'recursive'

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@576fcbecfed70890e466eeffd7c78d93b30b0472

      - name: Cache Build files
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v2

      - name: Spotless Check
        run: ./gradlew -p client/data-models spotlessCheck

  server:
    runs-on: ubuntu-latest
    needs: [ file-changes ]
    if: needs.file-changes.outputs.server == 'true' || github.ref_name == 'main'
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          submodules: 'recursive'

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@576fcbecfed70890e466eeffd7c78d93b30b0472

      - name: Cache Build files
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v2

      - name: Spotless Check
        run: ./gradlew -p server spotlessCheck
