name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: tests-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  DATABASE_URL: ":memory:"

jobs:
  file-changes:
    runs-on: ubuntu-latest
    outputs:
      android: ${{ steps.android.outputs.any_changed }}
      client-core: ${{ steps.client-core.outputs.any_changed }}
      client-ui: ${{ steps.client-ui.outputs.any_changed }}
      data-models: ${{ steps.data-models.outputs.any_changed }}
      ios: ${{ steps.ios.outputs.any_changed }}
      web: ${{ steps.web.outputs.any_changed }}
      server: ${{ steps.server.outputs.any_changed }}
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          submodules: 'recursive'
          fetch-depth: 0
      - name: Get changed files
        id: android
        uses: tj-actions/changed-files@3b04099b21072562f07469c10deb182b24236ca9
        with:
          files: |
            build.gradle.kts
            gradle/libsCommon.versions.toml
            gradle/libsClient.versions.toml
            gradle/libsAndroid.versions.toml
            **/client/android/**
            **/client/core/src/commonMain/**
            **/client/core/src/commonTest/**
            **/client/core/src/androidMain/**
            **/client/data-models/**
      - name: Get changed files
        id: client-core
        uses: tj-actions/changed-files@3b04099b21072562f07469c10deb182b24236ca9
        with:
          files: |
            gradle/libsCommon.versions.toml
            gradle/libsClient.versions.toml
            **/client/core/**
            **/client/data-models/**
      - name: Get changed files
        id: client-ui
        uses: tj-actions/changed-files@3b04099b21072562f07469c10deb182b24236ca9
        with:
          files: |
            gradle/libsCommon.versions.toml
            gradle/libsClient.versions.toml
            gradle/libsAndroid.versions.toml
            **/client/ui/**
            **/client/core/**
            **/client/presentation/**
            **/client/data-models/**
      - name: Get changed files
        id: data-models
        uses: tj-actions/changed-files@3b04099b21072562f07469c10deb182b24236ca9
        with:
          files: |
            gradle/libsCommon.versions.toml
            **/client/data-models/**
      - name: Get changed files
        id: server
        uses: tj-actions/changed-files@3b04099b21072562f07469c10deb182b24236ca9
        with:
          files: |
            gradle/libsCommon.versions.toml
            gradle/libsServer.versions.toml
            **/client/data-models/**
            **/server/**
      - name: Get changed files
        id: ios
        uses: tj-actions/changed-files@3b04099b21072562f07469c10deb182b24236ca9
        with:
          files: |
            gradle/libsCommon.versions.toml
            gradle/libsClient.versions.toml
            **/client/ios/**
            **/client/core/src/commonMain/**
            **/client/core/src/commonTest/**
            **/client/core/src/iosMain/**
            **/client/data-models/**
      - name: Get changed files
        id: web
        uses: tj-actions/changed-files@3b04099b21072562f07469c10deb182b24236ca9
        with:
          files: |
            gradle/libsCommon.versions.toml
            gradle/libsClient.versions.toml
            gradle/kotlin-js-store/**
            **/client/web/**
            **/client/core/src/commonMain/**
            **/client/presentation/src/commonMain/**
            **/client/data-models/**

  client-core-tests:
    needs: [ file-changes ]
    if: needs.file-changes.outputs.client-core == 'true' || github.ref_name == 'main'
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ] #windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          submodules: 'recursive'

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@76d3b998d4cef76a821dbcee71a9172ce986bb30

      - name: Cache Build files
        uses: actions/cache@638ed79f9dc94c1de1baef91bcab5edaa19451f4
        if: ${{ !startsWith(matrix.os, 'windows') }}
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v3

      - uses: browser-actions/setup-firefox@5914774dda97099441f02628f8d46411fcfbd208
        id: install-firefox

      - name: Set FIREFOX_BIN environment variable
        run: echo "FIREFOX_BIN=${{ steps.install-firefox.outputs.firefox-path }}" >> $GITHUB_ENV

      - name: All Tests
        run: ./gradlew client:core:allTests #client:core:koverXmlReport

      - name: Archive Reports
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        if: ${{ always() }}
        with:
          name: reports-client-core-${{ matrix.os }}
          path: '**/build/reports/*'

      - name: Publish Unit Test Results
        uses: mikepenz/action-junit-report@e5453d864979a2b201453695ee1db0acac11b14b
        if: ${{ always() }}
        with:
          report_paths: '**/TEST-*.xml'

  client-ui-tests:
    needs: [ file-changes ]
    if: needs.file-changes.outputs.client-ui == 'true' || github.ref_name == 'main'
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ] #windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          submodules: 'recursive'

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@76d3b998d4cef76a821dbcee71a9172ce986bb30

      - name: Cache Build files
        uses: actions/cache@638ed79f9dc94c1de1baef91bcab5edaa19451f4
        if: ${{ !startsWith(matrix.os, 'windows') }}
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v3

      - name: All Tests
        run: ./gradlew client:ui:allTests #client:ui:koverXmlReport

      - name: Archive Reports
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        if: ${{ always() }}
        with:
          name: reports-client-ui-${{ matrix.os }}
          path: '**/build/reports/*'

      - name: Publish Unit Test Results
        uses: mikepenz/action-junit-report@e5453d864979a2b201453695ee1db0acac11b14b
        if: ${{ always() }}
        with:
          report_paths: '**/TEST-*.xml'

  client-android-tests:
    needs: [ file-changes ]
    if: needs.file-changes.outputs.android == 'true' || github.ref_name == 'main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          submodules: 'recursive'

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@76d3b998d4cef76a821dbcee71a9172ce986bb30

      - name: Cache Build files
        uses: actions/cache@638ed79f9dc94c1de1baef91bcab5edaa19451f4
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v3

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - uses: reactivecircus/android-emulator-runner@1dcd0090116d15e7c562f8db72807de5e036a4ed
        name: Test Android Targets
        with:
          api-level: 35
          target: google_apis
          arch: x86_64
          profile: Nexus 6
          script: ./gradlew connectedCheck

      - name: Archive Reports
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        if: ${{ always() }}
        with:
          name: reports-client-android
          path: '**/build/reports/*'

      - name: Publish Unit Test Results
        uses: mikepenz/action-junit-report@e5453d864979a2b201453695ee1db0acac11b14b
        if: ${{ always() }}
        with:
          report_paths: '**/TEST-*.xml'

  client-web-tests:
    needs: [ file-changes ]
    if: needs.file-changes.outputs.web == 'true' || github.ref_name == 'main'
    strategy:
      matrix:
        os: [ ubuntu-latest ] # macos-latest, windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          submodules: 'recursive'

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@76d3b998d4cef76a821dbcee71a9172ce986bb30

      - name: Cache Build files
        uses: actions/cache@638ed79f9dc94c1de1baef91bcab5edaa19451f4
        if: ${{ !startsWith(matrix.os, 'windows') }}
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v3

      - uses: browser-actions/setup-firefox@5914774dda97099441f02628f8d46411fcfbd208
        id: install-firefox

      - name: Set FIREFOX_BIN environment variable
        run: echo "FIREFOX_BIN=${{ steps.install-firefox.outputs.firefox-path }}" >> $GITHUB_ENV

      - name: Web Tests
        run: ./gradlew client:web:jsBrowserTest #client:web:koverXmlReport

      - name: Archive Reports
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        if: ${{ always() }}
        with:
          name: reports-client-web-${{ matrix.os }}
          path: '**/build/reports/*'

      - name: Publish Unit Test Results
        uses: mikepenz/action-junit-report@e5453d864979a2b201453695ee1db0acac11b14b
        if: ${{ always() }}
        with:
          report_paths: '**/TEST-*.xml'

  server-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          submodules: 'recursive'

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@76d3b998d4cef76a821dbcee71a9172ce986bb30

      - name: Cache Build files
        uses: actions/cache@638ed79f9dc94c1de1baef91bcab5edaa19451f4
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v3

      - name: Run Server Tests
        run: >
          ./gradlew
          server:application:test
          server:db-models:test
          server:library-manager:test
          server:metadata-manager:test
          server:shared:test
          server:stream-service:test

      - name: Archive Reports
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        if: ${{ always() }}
        with:
          name: reports-server
          path: '**/build/reports/*'

      - name: Publish Unit Test Results
        uses: mikepenz/action-junit-report@e5453d864979a2b201453695ee1db0acac11b14b
        if: ${{ always() }}
        with:
          report_paths: '**/TEST-*.xml'

  upload-kover-reports:
    runs-on: ubuntu-latest
    needs: [ server-tests, client-core-tests, client-web-tests ]
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
      - name: Download kover reports
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          pattern: reports*
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: "**/build/reports/kover/project-xml/report.xml"
