name: Yarn Lock Sync

on:
  push:
    branches:
      - 'renovate/**'

concurrency:
  group: yarn-upgrade-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  yarn-lock-upgrade:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          submodules: 'recursive'

      - uses: actions/setup-java@d81c4e45f3ac973cc936d79104023e20054ba578
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@576fcbecfed70890e466eeffd7c78d93b30b0472

      - name: Cache Build files
        uses: actions/cache@b7e8d49f17405cc70c1c120101943203c98d3a4b
        if: ${{ !startsWith(matrix.os, 'windows') }}
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v2

      - name: Yarn Lock Upgrade
        run: ./gradlew kotlinUpgradeYarnLock

      - uses: EndBug/add-and-commit@db8fba131f71cedfd60e319abf8ea449bb246873
        with:
          author_name: renovate[bot]
          author_email: 29139614+renovate[bot]@users.noreply.github.com
          message: Upgrade yarn.lock file
