name: Yarn Lock Sync

on:
  push:
    branches:
      - 'renovate/**'

concurrency:
  group: yarn-upgrade-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  yarn-lock-upgrade:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          submodules: 'recursive'

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@76d3b998d4cef76a821dbcee71a9172ce986bb30

      - name: Cache Build files
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7
        if: ${{ !startsWith(matrix.os, 'windows') }}
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v2

      - name: Yarn Lock Upgrade
        run: ./gradlew kotlinUpgradeYarnLock

      - uses: EndBug/add-and-commit@3ee72d6dcf8546ca436edcde6769150b36bc94c8
        with:
          author_name: renovate[bot]
          author_email: 29139614+renovate[bot]@users.noreply.github.com
          message: Upgrade yarn.lock file
